.vscode-test/
*/__pycache__

out
dist
docs
node_modules


sample/arxiv_sources
**/**.dvi
**/**.out
**/**.aux
**/**.aux
**/**.log
**/**.synctex.gz

!sample/logs/**.log

.env
azurePersonalAccessToken.txt
TODO.md
