.vscode-test/
*/__pycache__

out
dist
docs
node_modules

other/azurePersonalAccessToken.txt

sample/localTest.*
sample/arxiv_sources
**/**.dvi
**/**.out
**/**.aux
**/**.aux
**/**.log
**/**.synctex.gz

TODO.md
