.vscode-test/
*/__pycache__

out
dist
docs
node_modules

other/azurePersonalAccessToken.txt

sample/arxiv_sources
**/**.dvi
**/**.out
**/**.aux
**/**.aux
**/**.log
**/**.synctex.gz

!sample/logs/**.log

TODO.md

.env
