.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

doc
other
images/**
!images/lintIconDark.svg
!images/lintIconLight.svg
!images/mainIcon512.png
doc/*.synctex.gz
sample/*.synctex.gz
sample/*.pdf
